In [1]:
import pandas as pd
import pymysql
import numpy as np
import warnings

In [ ]:
warnings.filterwarnings('ignore')

In [311]:
# Leer datos de poblacion de CABA por comuna 

ruta='Datos/PBP_CO_1020.xls'
datos=pd.read_excel(ruta,sheet_name='PBP_CO_1020',header=2)
datos

,Comuna,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024,2025
0,Total,3028481.0,3033639.0,3038860.0,3044076.0,3049229.0,3054267.0,3059122.0,3063728.0,3068043.0,3072029.0,3075646.0,3078836.0,3081550.0,3083770.0,3085483.0,3086680
1,1,243946.0,245308.0,246689.0,248069.0,249433.0,250770.0,252053.0,253271.0,254408.0,255457.0,256405.0,257235.0,257934.0,258497.0,258922.0,259205
2,2,150714.0,150573.0,150428.0,150278.0,150130.0,149985.0,149848.0,149720.0,149607.0,149510.0,149430.0,149371.0,149337.0,149328.0,149345.0,149389
3,3,191323.0,191536.0,191750.0,191963.0,192171.0,192375.0,192573.0,192763.0,192945.0,193115.0,193276.0,193425.0,193560.0,193682.0,193790.0,193884
4,4,234933.0,235497.0,236071.0,236646.0,237214.0,237769.0,238303.0,238809.0,239279.0,239712.0,240100.0,240437.0,240716.0,240937.0,241096.0,241193
5,5,185301.0,185544.0,185789.0,186034.0,186276.0,186512.0,186740.0,186956.0,187159.0,187348.0,187518.0,187670.0,187800.0,187907.0,187991.0,188053
6,6,183046.0,183309.0,183576.0,183843.0,184105.0,184363.0,184611.0,184846.0,185067.0,185271.0,185456.0,185620.0,185760.0,185875.0,185964.0,186028
7,7,236838.0,237389.0,237946.0,238505.0,239057.0,239597.0,240116.0,240607.0,241065.0,241484.0,241861.0,242188.0,242460.0,242674.0,242828.0,242921
8,8,219638.0,220655.0,221693.0,222733.0,223764.0,224770.0,225737.0,226649.0,227495.0,228266.0,228953.0,229541.0,230018.0,230380.0,230623.0,230745
9,9,168681.0,168964.0,169248.0,169533.0,169814.0,170087.0,170353.0,170605.0,170842.0,171062.0,171264.0,171444.0,171600.0,171733.0,171839.0,171921
10,10,169372.0,169506.0,169640.0,169775.0,169908.0,170037.0,170163.0,170282.0,170394.0,170497.0,170592.0,170677.0,170750.0,170811.0,170859.0,170896
11,11,189760.0,189795.0,189829.0,189861.0,189893.0,189925.0,189956.0,189986.0,190016.0,190046.0,190076.0,190105.0,190135.0,190165.0,190195.0,190225
12,12,211320.0,211699.0,212082.0,212467.0,212846.0,213218.0,213576.0,213914.0,214229.0,214518.0,214777.0,215002.0,215189.0,215335.0,215442.0,215505
13,13,234846.0,235011.0,235178.0,235342.0,235506.0,235666.0,235819.0,235967.0,236107.0,236238.0,236358.0,236468.0,236566.0,236650.0,236723.0,236781
14,14,226489.0,226558.0,226626.0,226692.0,226758.0,226821.0,226884.0,226944.0,227003.0,227060.0,227115.0,227168.0,227219.0,227268.0,227315.0,227360
15,15,182274.0,182295.0,182315.0,182335.0,182354.0,182372.0,182390.0,182409.0,182427.0,182445.0,182465.0,182485.0,182506.0,182528.0,182551.0,182574
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,(continúa)
17,Varón,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,Comuna,2010.0,2011.0,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,2021.0,2022.0,2023.0,2024.0,2025
19,Total,1405566.0,1409835.0,1414105.0,1418339.0,1422507.0,1426582.0,1430531.0,1434323.0,1437936.0,1441350.0,1444545.0,1447495.0,1450179.0,1452588.0,1454716.0,1456560
20,1,117622.0,118720.0,119819.0,120907.0,121979.0,123030.0,124045.0,125021.0,125950.0,126828.0,127651.0,128410.0,129100.0,129720.0,130266.0,130742
21,2,67160.0,67110.0,67061.0,67011.0,66963.0,66915.0,66870.0,66825.0,66783.0,66744.0,66707.0,66672.0,66641.0,66613.0,66588.0,66567
22,3,89373.0,89585.0,89797.0,90008.0,90215.0,90417.0,90614.0,90802.0,90982.0,91151.0,91310.0,91457.0,91590.0,91710.0,91816.0,91907
23,4,110956.0,111394.0,111832.0,112267.0,112695.0,113113.0,113518.0,113908.0,114278.0,114629.0,114957.0,115260.0,115535.0,115782.0,116001.0,116190
24,5,84443.0,84648.0,84853.0,85056.0,85256.0,85451.0,85640.0,85822.0,85995.0,86159.0,86312.0,86453.0,86582.0,86697.0,86799.0,86888
25,6,82781.0,83001.0,83221.0,83440.0,83654.0,83865.0,84068.0,84263.0,84450.0,84626.0,84790.0,84942.0,85081.0,85205.0,85315.0,85410
26,7,110040.0,110466.0,110891.0,111313.0,111728.0,112134.0,112527.0,112905.0,113265.0,113605.0,113923.0,114217.0,114485.0,114725.0,114937.0,115120
27,8,102829.0,103576.0,104324.0,105065.0,105795.0,106508.0,107199.0,107863.0,108496.0,109093.0,109653.0,110169.0,110639.0,111061.0,111433.0,111756
28,9,80600.0,80847.0,81094.0,81339.0,81581.0,81816.0,82045.0,82265.0,82474.0,82671.0,82856.0,83027.0,83182.0,83322.0,83445.0,83552
29,10,79016.0,79131.0,79245.0,79360.0,79472.0,79581.0,79688.0,79790.0,79887.0,79979.0,80065.0,80145.0,80217.0,80282.0,80339.0,80389
30,11,89319.0,89367.0,89415.0,89462.0,89509.0,89555.0,89599.0,89641.0,89682.0,89720.0,89756.0,89789.0,89819.0,89846.0,89870.0,89891
31,12,97723.0,98016.0,98308.0,98598.0,98883.0,99162.0,99433.0,99692.0,99940.0,100174.0,100392.0,100594.0,100778.0,100943.0,101089.0,101215
32,13,106580.0,106734.0,106889.0,107042.0,107193.0,107341.0,107484.0,107621.0,107752.0,107876.0,107991.0,108098.0,108195.0,108282.0,108360.0,108426
33,14,102036.0,102118.0,102200.0,102281.0,102361.0,102439.0,102515.0,102588.0,102657.0,102723.0,102784.0,102841.0,102892.0,102938.0,102979.0,103014
34,15,85088.0,85122.0,85156.0,85190.0,85223.0,85255.0,85286.0,85317.0,85345.0,85372.0,85398.0,85421.0,85443.0,85462.0,85479.0,85493
35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,(continúa)
36,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,Mujer,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,Comuna,2010.0,2011.0,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,2021.0,2022.0,2023.0,2024.0,2025
39,Total,1622915.0,1623804.0,1624755.0,1625737.0,1626722.0,1627685.0,1628591.0,1629405.0,1630107.0,1630679.0,1631101.0,1631341.0,1631371.0,1631182.0,1630767.0,1630120
40,1,126324.0,126588.0,126870.0,127162.0,127454.0,127740.0,128008.0,128250.0,128458.0,128629.0,128754.0,128825.0,128834.0,128777.0,128656.0,128463
41,2,83554.0,83463.0,83367.0,83267.0,83167.0,83070.0,82978.0,82895.0,82824.0,82766.0,82723.0,82699.0,82696.0,82715.0,82757.0,82822
42,3,101950.0,101951.0,101953.0,101955.0,101956.0,101958.0,101959.0,101961.0,101963.0,101964.0,101966.0,101968.0,101970.0,101972.0,101974.0,101977
43,4,123977.0,124103.0,124239.0,124379.0,124519.0,124656.0,124785.0,124901.0,125001.0,125083.0,125143.0,125177.0,125181.0,125155.0,125095.0,125003
44,5,100858.0,100896.0,100936.0,100978.0,101020.0,101061.0,101100.0,101134.0,101164.0,101189.0,101206.0,101217.0,101218.0,101210.0,101192.0,101165
45,6,100265.0,100308.0,100355.0,100403.0,100451.0,100498.0,100543.0,100583.0,100617.0,100645.0,100666.0,100678.0,100679.0,100670.0,100649.0,100618
46,7,126798.0,126923.0,127055.0,127192.0,127329.0,127463.0,127589.0,127702.0,127800.0,127879.0,127938.0,127971.0,127975.0,127949.0,127891.0,127801
47,8,116809.0,117079.0,117369.0,117668.0,117969.0,118262.0,118538.0,118786.0,118999.0,119173.0,119300.0,119372.0,119379.0,119319.0,119190.0,118989
48,9,88081.0,88117.0,88154.0,88194.0,88233.0,88271.0,88308.0,88340.0,88368.0,88391.0,88408.0,88417.0,88418.0,88411.0,88394.0,88369
49,10,90356.0,90375.0,90395.0,90415.0,90436.0,90456.0,90475.0,90492.0,90507.0,90518.0,90527.0,90532.0,90533.0,90529.0,90520.0,90507
50,11,100441.0,100428.0,100414.0,100399.0,100384.0,100370.0,100357.0,100345.0,100334.0,100326.0,100320.0,100316.0,100316.0,100319.0,100325.0,100334
51,12,113597.0,113683.0,113774.0,113869.0,113963.0,114056.0,114143.0,114222.0,114289.0,114344.0,114385.0,114408.0,114411.0,114392.0,114353.0,114290
52,13,128266.0,128277.0,128289.0,128300.0,128313.0,128325.0,128335.0,128346.0,128355.0,128362.0,128367.0,128370.0,128371.0,128368.0,128363.0,128355
53,14,124453.0,124440.0,124426.0,124411.0,124397.0,124382.0,124369.0,124356.0,124346.0,124337.0,124331.0,124327.0,124327.0,124330.0,124336.0,124346
54,15,97186.0,97173.0,97159.0,97145.0,97131.0,97117.0,97104.0,97092.0,97082.0,97073.0,97067.0,97064.0,97063.0,97066.0,97072.0,97081
55,Fuente: Dirección General de Estadística y Cen...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [312]:
poblacion_por_comuna=datos.iloc[1:16,:]
poblacion_por_comuna

,Comuna,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024,2025
1,1,243946.0,245308.0,246689.0,248069.0,249433.0,250770.0,252053.0,253271.0,254408.0,255457.0,256405.0,257235.0,257934.0,258497.0,258922.0,259205
2,2,150714.0,150573.0,150428.0,150278.0,150130.0,149985.0,149848.0,149720.0,149607.0,149510.0,149430.0,149371.0,149337.0,149328.0,149345.0,149389
3,3,191323.0,191536.0,191750.0,191963.0,192171.0,192375.0,192573.0,192763.0,192945.0,193115.0,193276.0,193425.0,193560.0,193682.0,193790.0,193884
4,4,234933.0,235497.0,236071.0,236646.0,237214.0,237769.0,238303.0,238809.0,239279.0,239712.0,240100.0,240437.0,240716.0,240937.0,241096.0,241193
5,5,185301.0,185544.0,185789.0,186034.0,186276.0,186512.0,186740.0,186956.0,187159.0,187348.0,187518.0,187670.0,187800.0,187907.0,187991.0,188053
6,6,183046.0,183309.0,183576.0,183843.0,184105.0,184363.0,184611.0,184846.0,185067.0,185271.0,185456.0,185620.0,185760.0,185875.0,185964.0,186028
7,7,236838.0,237389.0,237946.0,238505.0,239057.0,239597.0,240116.0,240607.0,241065.0,241484.0,241861.0,242188.0,242460.0,242674.0,242828.0,242921
8,8,219638.0,220655.0,221693.0,222733.0,223764.0,224770.0,225737.0,226649.0,227495.0,228266.0,228953.0,229541.0,230018.0,230380.0,230623.0,230745
9,9,168681.0,168964.0,169248.0,169533.0,169814.0,170087.0,170353.0,170605.0,170842.0,171062.0,171264.0,171444.0,171600.0,171733.0,171839.0,171921
10,10,169372.0,169506.0,169640.0,169775.0,169908.0,170037.0,170163.0,170282.0,170394.0,170497.0,170592.0,170677.0,170750.0,170811.0,170859.0,170896
11,11,189760.0,189795.0,189829.0,189861.0,189893.0,189925.0,189956.0,189986.0,190016.0,190046.0,190076.0,190105.0,190135.0,190165.0,190195.0,190225
12,12,211320.0,211699.0,212082.0,212467.0,212846.0,213218.0,213576.0,213914.0,214229.0,214518.0,214777.0,215002.0,215189.0,215335.0,215442.0,215505
13,13,234846.0,235011.0,235178.0,235342.0,235506.0,235666.0,235819.0,235967.0,236107.0,236238.0,236358.0,236468.0,236566.0,236650.0,236723.0,236781
14,14,226489.0,226558.0,226626.0,226692.0,226758.0,226821.0,226884.0,226944.0,227003.0,227060.0,227115.0,227168.0,227219.0,227268.0,227315.0,227360
15,15,182274.0,182295.0,182315.0,182335.0,182354.0,182372.0,182390.0,182409.0,182427.0,182445.0,182465.0,182485.0,182506.0,182528.0,182551.0,182574

In [313]:
poblacion_por_comuna.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 1 to 15
Data columns (total 17 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Comuna  15 non-null     object
 1   2010    15 non-null     float64
 2   2011    15 non-null     float64
 3   2012    15 non-null     float64
 4   2013    15 non-null     float64
 5   2014    15 non-null     float64
 6   2015    15 non-null     float64
 7   2016    15 non-null     float64
 8   2017    15 non-null     float64
 9   2018    15 non-null     float64
 10  2019    15 non-null     float64
 11  2020    15 non-null     float64
 12  2021    15 non-null     float64
 13  2022    15 non-null     float64
 14  2023    15 non-null     float64
 15  2024    15 non-null     float64
 16  2025    15 non-null     object
dtypes: float64(15), object(2)
memory usage: 2.1+ KB

In [314]:
columns_name=[str(col)for col in poblacion_por_comuna.columns]
poblacion_por_comuna.columns=columns_name

In [315]:
poblacion_por_comuna=poblacion_por_comuna.astype(int)
poblacion_por_comuna.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 1 to 15
Data columns (total 17 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Comuna  15 non-null     int32
 1   2010    15 non-null     int32
 2   2011    15 non-null     int32
 3   2012    15 non-null     int32
 4   2013    15 non-null     int32
 5   2014    15 non-null     int32
 6   2015    15 non-null     int32
 7   2016    15 non-null     int32
 8   2017    15 non-null     int32
 9   2018    15 non-null     int32
 10  2019    15 non-null     int32
 11  2020    15 non-null     int32
 12  2021    15 non-null     int32
 13  2022    15 non-null     int32
 14  2023    15 non-null     int32
 15  2024    15 non-null     int32
 16  2025    15 non-null     int32
dtypes: int32(17)
memory usage: 1.1 KB

In [316]:
# Utiliza melt para convertir las columnas de años en 'Año' y las poblaciones en 'Valor'
df_melted = pd.melt(poblacion_por_comuna, id_vars=['Comuna'], var_name='Fecha', value_name='Poblacion_anual')

# Agrupa por 'Año' y calcula la suma de los valores para cada año
df = df_melted.groupby('Fecha')['Poblacion_anual'].sum().reset_index()

# Imprime el DataFrame resultante
df

   Fecha  Poblacion_anual
0   2010          3028481
1   2011          3033639
2   2012          3038860
3   2013          3044076
4   2014          3049229
5   2015          3054267
6   2016          3059122
7   2017          3063728
8   2018          3068043
9   2019          3072029
10  2020          3075646
11  2021          3078836
12  2022          3081550
13  2023          3083770
14  2024          3085483
15  2025          3086680

In [317]:
# REALIZO UNA INTERPOLACION LINEAL PARA ESTIMAR LA POBLACION MENSUAL
# Convertir la columna 'año' a tipo datetime para facilitar la interpolación
df['Fecha'] = pd.to_datetime(df['Fecha'], format='%Y')

# Establecer 'año' como índice y resample a población semestral
df = df.set_index('Fecha').resample('1M').mean()

# Interpolar los valores semestrales utilizando el método de interpolación lineal
df['Poblacion_semestral'] = df['Poblacion_anual'].interpolate(method='linear')
df=df.reset_index()
df

         Fecha  Poblacion_anual  Poblacion_semestral
0   2010-01-31        3028481.0         3.028481e+06
1   2010-02-28              NaN         3.028911e+06
2   2010-03-31              NaN         3.029341e+06
3   2010-04-30              NaN         3.029770e+06
4   2010-05-31              NaN         3.030200e+06
..         ...              ...                  ...
176 2024-09-30              NaN         3.086281e+06
177 2024-10-31              NaN         3.086381e+06
178 2024-11-30              NaN         3.086480e+06
179 2024-12-31              NaN         3.086580e+06
180 2025-01-31        3086680.0         3.086680e+06

[181 rows x 3 columns]

In [318]:
# Crear columns "Semestre" y columna "Año"
df['Año']=df['Fecha'].dt.year
df['Mes']=df['Fecha'].dt.month
df

         Fecha  Poblacion_anual  Poblacion_semestral   Año  Mes
0   2010-01-31        3028481.0         3.028481e+06  2010    1
1   2010-02-28              NaN         3.028911e+06  2010    2
2   2010-03-31              NaN         3.029341e+06  2010    3
3   2010-04-30              NaN         3.029770e+06  2010    4
4   2010-05-31              NaN         3.030200e+06  2010    5
..         ...              ...                  ...   ...  ...
176 2024-09-30              NaN         3.086281e+06  2024    9
177 2024-10-31              NaN         3.086381e+06  2024   10
178 2024-11-30              NaN         3.086480e+06  2024   11
179 2024-12-31              NaN         3.086580e+06  2024   12
180 2025-01-31        3086680.0         3.086680e+06  2025    1

[181 rows x 5 columns]

In [320]:
df['Poblacion_anual']=df['Poblacion_anual'].fillna(method='ffill')
df

C:\Users\pablo\AppData\Local\Temp\ipykernel_33652\1725411843.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df['Poblacion_anual']=df['Poblacion_anual'].fillna(method='ffill')

         Fecha  Poblacion_anual  Poblacion_semestral   Año  Mes
0   2010-01-31        3028481.0         3.028481e+06  2010    1
1   2010-02-28        3028481.0         3.028911e+06  2010    2
2   2010-03-31        3028481.0         3.029341e+06  2010    3
3   2010-04-30        3028481.0         3.029770e+06  2010    4
4   2010-05-31        3028481.0         3.030200e+06  2010    5
..         ...              ...                  ...   ...  ...
176 2024-09-30        3085483.0         3.086281e+06  2024    9
177 2024-10-31        3085483.0         3.086381e+06  2024   10
178 2024-11-30        3085483.0         3.086480e+06  2024   11
179 2024-12-31        3085483.0         3.086580e+06  2024   12
180 2025-01-31        3086680.0         3.086680e+06  2025    1

[181 rows x 5 columns]

In [321]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 181 entries, 0 to 180
Data columns (total 5 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Fecha                181 non-null    datetime64[ns]
 1   Poblacion_anual      181 non-null    float64
 2   Poblacion_semestral  181 non-null    float64
 3   Año                  181 non-null    int32
 4   Mes                  181 non-null    int32
dtypes: datetime64[ns](1), float64(2), int32(2)
memory usage: 5.8 KB

In [323]:
# Exportar datos a base de datos mysql 
# Exportar los datos de cada dataframe en las tablas correspondientes en MySql
try: 
    conection=pymysql.connect(host='localhost',
                                    user='root',
                                    password='12345',
                                    database='pi2_henry')  # cambiar nombre de la base de datos
    cursor=conection.cursor()
    
    print('La conexion con la base de datos se realizó con éxito')
    if conection:
            
            for i,row in df.iterrows(): # nombre del dataframe
                    tabla='poblacion' # introducir el nombre de la tabla en mysql donde quiero insertar los datos
                    sql=f"INSERT IGNORE INTO {tabla} VALUES (" + "%s,"*(len(row)-1) + "%s)"
                    valores=tuple(row)
                    cursor.execute(sql,valores)
                    
    conection.commit()
    print('La carga de datos se ralizó con exito')
            
                

except pymysql.Error as error:
    print('Error al insertar datos en la base de datos:',error)

finally: 
    if conection:
            conection.close()

La conexion con la base de datos se realizó con éxito
La carga de datos se ralizó con exito